* {
    font-family: Segoe UI, Arial, sans-serif;
    font-size: x-small
}

.small-text {
    font-size: xx-small;
}

.bg-green{
    background-color: #00b300;
}

.bg-orange{
    background-color: orange;
}

tr,td {
    padding-left: 8px;
}

.pepet {
    white-space: nowrap;
    width: 1%;
}

.table-border {
    border: 0.1px solid black;
}

.table-border td,th {
    border: 0.1px solid black;
}

.border-green {
    border-color: #00b300
}

.border-green td,th {
    border-color: #00b300
}

.border-orange {
    border-color: orange
}

.border-orange td,th {
    border-color: orange
}

.table-woborder{ border: none; }
.table-woborder td, th{ border: none; }
td.table-woborder { border: none; }
td.table-wobordertb { border-top: none; border-bottom: none; }
td.table-woborderrl { border-right: none; border-left: none; }

tfoot tr td {
    font-weight: bold;
    font-size: x-small;
}

.gray {
    background-color: lightgray
}

header {
    position: fixed;
    top: -40px;
    left: 0px;
    right: 0px;
}

footer {
    position: fixed;
    bottom: -60px;
    left: 0px;
    right: 0px;
    height: 50px;
    text-align: center;
    line-height: 35px;
}

.page-break { page-break-after: always; }