* {
    font-family: Segoe UI, Arial, sans-serif;
}
table{
    font-size: small;
    border-collapse: collapse;
}

tr, td{ padding-left: 8px; }

.table-border{ border: 1px solid black; }

.table-border td, th{ border: 1px solid black; }

tfoot tr td{
    font-weight: bold;
    font-size: x-small;
}

.gray { background-color: lightgray }
